.radios-search-rigth{
    border-radius: 4px 25px 25px 4px !important;
}
.radios-search-left{
    border-radius: 25px 4px 4px 25px !important;
}
.margin-top-search{
    margin-top: 10pt;
}
.position-search{
    position: absolute;
    z-index: 2;
} 



/*  */

@import url('https://fonts.googleapis.com/css?family=Kumar+One');

h2{float:left; width:100%; color:#14594d; margin-bottom:60px; font-size: 14px; position:relartive; z-index:3;}
h2 span{font-family: 'Kumar One', cursive; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px;}
h2 a{color:#fff; font-weight:bold;}

.color-header{
background-image: -webkit-linear-gradient(top,rgba(99, 219, 137, 0.57),rgba(80, 163, 95, 0.56) 100%);
background-color: #36BA6F;
border-color: #46B76E;
}
.navbar-inverse .navbar-nav>li>a{
    color:#F8EFEF;
}

.txt-type{
    margin-bottom:20px; font-weight:bold; color:#1DCF22; text-shadow:1px 1px 0 rgba(0,0,0,0.2);
}
.btn-default{
    background:#DFC717; color:#fff; font-weight:700; text-shadow:1px 1px 0 rgba(0,0,0,0.2); font-size:14px;
}
.card{
    box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;
}
.card-01 .card-block{
    position:relative; padding-top:40px;
}
.card-01 .badge-box{
    position:absolute; top:-20px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;
}
.card-01 .badge-box i{
    background:#DFC717; color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;
}

